{% extends 'base.html'%} {% block content %}
<div class="anotherpage_height"></div>

<section id="corporate_speech">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="header_pert">
          <h2>Honorable Speeches</h2>
        </div>
      </div>
    </div>

    <div class="Honorable_Speeches_tabs">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#Chairman"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <img
                src="https://bdcccl.com/frontend_assets/images/md.jpg"
                alt=""
              />
              <h4>
                Major Md. Shfiqul Islam (retd.)
                <span>Managing Director</span>
              </h4>
            </button>
          </h2>

          <div
            id="Chairman"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                At the Beginning of our journey, we set up a course to establish
                a name that will eventually become one of the most trusted
                business houses in the country. Our elemental strength is our
                ability to adopt the present day challenges while we also attend
                to our individual responsibilities to the society and our nation
                at large.
              </p>

              <p>
                We are selective when it comes to implementing projects, our
                major selection criteria being the scope for value addition to
                the society and the economy. We have introduced a number of
                pioneering solutions to various sectors of the country, namely
                infrastructural projects. We are also hopeful about our ongoing
                projects.
              </p>
              <p>
                We attract meritorious employees as we offer a platform to
                perform to the best of abilities. Human capital is our most
                important assets and investing in them for their development
                remains to be one of our core business strengths.
              </p>
              <p>
                Last but not the least remains the duty to our community. We
                believe in growing together. We are United to build the nation
                and take care of the community around us.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#md"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <img
                src="https://bdcccl.com/frontend_assets/images/drector.jpg"
                alt=""
              />
              <h4>
                Engr. Emtiaz Rahman Tusher
                <span>Director</span>
              </h4>
            </button>
          </h2>

          <div
            id="md"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                CrossCountry Construction Ltd., a multi-disciplinary business
                house, has proven itself to be a dynamic and progressive
                enterprise, positioning itself as one of the leading business
                houses of the country. We are now working to achieve being the
                best brand committed to excellence in all our endeavors– our
                long-term management vision. This calls for us to create a
                robust platform capable of delivering consistent growth under
                any condition.
              </p>
              <p>
                By the Grace of Almighty, we are certainly privileged to have
                received the strongest of platforms as gifts from our founding
                directors. They have presented us with a healthy financial base,
                strong asset backing, a company without debt and liabilities, a
                timely and forward-thinking succession planning and lastly, an
                undeniable reputation in the market.
              </p>
              <p>
                We are blessed with a series of upcoming projects in Bangladesh.
                Most of our power assets are now debt-free.
              </p>
              <p>
                We have developed and structured an engineering, procurement and
                construction team which has the largest EPC Experience in
                Bangladesh. Our team member is committed to providing successful
                operation and maintenance services.
              </p>
              <p>
                CCCL is focusing on improving the living standard in Bangladesh,
                particularly in Dhaka city, through investment in retail and
                real estate.
              </p>
              <p>
                Our goal is to continue the path towards sustainable growth as
                we set our focus on Infrastructure, Real Estate and CSR. We have
                set forth an investment target over the next 3 years. We believe
                in greater good of mankind and as such have not forgotten the
                community around us.
              </p>
              <p>
                We have a mission to remain committed to the socio-economic
                development of the country as we continue to enhance value for
                our stakeholders. We seek to deliver a better tomorrow as a
                socially responsible corporate entity through supporting
                community development activities; embodying the values of
                entrepreneurial leadership and integrity.
              </p>
              <p>We are a business house of Trust.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section_height"></div>

{% endblock %}
